.why-choose-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    h2{
        margin-bottom: 10px;
    }
}
.why-choose-content-icon{
    font-size: 35px;
    margin-bottom: 10px;
}