.Main-nav{
    width: 100%;
    height: 88px;
    color: #111827;
    border-bottom: 3px solid #f3f3f3;
    position: relative;
    z-index: 11;
    // position: fixed;
    background-color: #ffffff;
    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        height: 100%;
        margin: 0 auto;
        padding: 20px 16px;
        .logo-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                font-size: 30px;
                font-weight: 700;
            }
            img{
                display: inline-block;
                width: 42px;
                height: 40px;
            }
        }
    }
    .sub-nav-container{
        z-index: 1;
        width: 728px;
        ul{
            list-style-type: none;
            margin: 0 35px;
            cursor: pointer;
            // :hover{
            //     .tour-down-container{
            //         display: block;
            //     }
            // }
        }
        li{
            display: inline-block;
            margin: 10px;
            padding: 8px 20px;
            a{
                font-size: 16px;
                font-weight: 600;
                text-decoration: none;
                color: #111827;
            }
        }
    }
    .login-container{
        width: 220px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .icon-container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            :hover{
                background-color: #f3f4f6;
                border-radius: 50%;
                padding: 10px;
            }
            .icon{
                width: 22px;
                height: 22px;
                cursor: pointer;
            }
        }  
        .login-btn-link{
            text-decoration: none;
        }  
        .login-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4f46e5;
            border-radius: 9999px;
            width: 110px;
            font-size: 15px;
            height: 48px;
            color: #ffffff;
            text-decoration: none;
            font-weight: 600;
            border: none;
            cursor: pointer;
        }
        .login-btn:hover{
            opacity: 0.95;
        }
    }
}
@keyframes nav-down-ani
{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.wrapper-container {
    background-color: #ffffff;
    width: 840px;
    box-shadow: rgb(0 0 0 / 10%) 0px 13px 13px 13px;
    animation: infinite;
    animation: nav-down-ani ease 0.67s;
    transform-origin: 20% top;
    border-radius: 15px!important;
    z-index: 100;
}
.tour-down-container{
    width: 100%;
    height: 326px;
    padding: 24px 12px;
    font-size: 14px;
    color: #111827;
    // position: absolute;
    // z-index: 2;
    // left: 287px;
    // top: 65px;
    // display: none;
    .tour-down-container-main{
        display: flex;
        justify-content: space-between;
    }
    .list-tour-container{
        width: 144px;
        .nav-down-img{
            width: 144px;
            height: 96px;
            border-radius: 10px;
            object-fit: cover;
        }
        .list-nav{
            margin:0!important;
            width: 144px;
            margin-right: 20px;
            text-align: left;
            list-style-type: none;
            .header-list-nav{
                font-weight: 700;
                margin-top: 8px;
            }
            li{
                width: 144px;
                padding:0!important;
                margin-bottom: 10px;
                font-size: 14px;
            }
        }
    }
}